## Final Project Submission

Please fill out:
* Student name: Elizabeth Masai
* Student pace: full time
* Scheduled project review date/time: N/A
* Instructor name: Asha Deen and Lucile Kaleha
* Blog post URL:N/A

MICROSOFT FILM HAVEN

a)Business Overview

Microsoft wants to venture into the movie industry by setting up a new movie studio,with a primary goal of gaining vast knowledge and understanding of the current market so as to make sound decisions in film production.The project therefore explores the film production industry and analyses the information into actionable insight.

b)Business Understanding

Microsoft aims at establishing a new movie shop .The goal is to gain knowledge on the current market trends in the successful and well established movies at the box office to help in deciding on the types of movies to produce.The project also addresses key questions such as the genres that perform well at the box office and also if there are specific topics that resonate with the audience.

c)Data Understanding

This project makes use of data from a local file provided by Microsoft. The data includes the following datasets; 1.Movie genres 2.Movie budget 3.Movie gross output both foreign and domestic 4.movie review and  5.movie information

In [3]:
#Imported libraries to be used in this project includes:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#%matplotlib inline
import seaborn as sns 
import warnings
warnings.filterwarnings('ignore')
import sqlite3
import os
import zipfile

In [4]:
# Extract IMDb SQL .db file
# with zipfile.ZipFile('./zippedData/im.db') as zipObj:
#     # Extract all contents of .zip file into current directory
#     zipObj.extractall(path=r"C:\Users\USER\Documents\Moringa\dsc-phase-1-project-v2-4\zippedData\im.db.zip")
# # Create connection to IMDb DB
# con = sqlite3.connect('./zippedData/im.db')
# conn = sqlite3.connect(r"C:\Users\USER\Documents\Moringa\dsc-phase-1-project-v2-4\zippedData\im.db.zip")

In [5]:
#importing and reading data from the  provided files
df = pd.read_csv(r'C:\Users\USER\Documents\Moringa\dsc-phase-1-project-v2-4\zippedData\tmdb.movies.csv.gz')# tmdb movies

In [6]:
df1 = pd.read_csv(r'C:\Users\USER\Documents\Moringa\dsc-phase-1-project-v2-4\zippedData\bom.movie_gross.csv.gz')#movie gross
df1.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [7]:
df2 = pd.read_csv(r'C:\Users\USER\Documents\Moringa\dsc-phase-1-project-v2-4\zippedData\tn.movie_budgets.csv.gz')#movie budget
df2.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [8]:

df3 = pd.read_csv(r'C:\Users\USER\Documents\Moringa\dsc-phase-1-project-v2-4\zippedData\rt.movie_info.tsv.gz', delimiter='\t')#movie info
df3.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [9]:
import pandas as pd

# encodings to try
encodings = ['utf-8', 'latin1', 'utf-16', 'utf-32', 'ISO-8859-1']

# Try reading the TSV file with different encodings
for encoding in encodings:
    try:
        df4 = pd.read_csv(r'C:\Users\USER\Documents\Moringa\dsc-phase-1-project-v2-4\zippedData\rt.reviews.tsv.gz', delimiter='\t', encoding=encoding)
        print("Successfully read the file with encoding:", encoding)
        break
    except UnicodeDecodeError:
        print("Failed to read the file with encoding:", encoding)


print(df4)

Failed to read the file with encoding: utf-8
Successfully read the file with encoding: latin1
         id                                             review rating   fresh  \
0         3  A distinctly gallows take on contemporary fina...    3/5   fresh
1         3  It's an allegory in search of a meaning that n...    NaN  rotten
2         3  ... life lived in a bubble in financial dealin...    NaN   fresh
3         3  Continuing along a line introduced in last yea...    NaN   fresh
4         3             ... a perverse twist on neorealism...     NaN   fresh
...     ...                                                ...    ...     ...
54427  2000  The real charm of this trifle is the deadpan c...    NaN   fresh
54428  2000                                                NaN    1/5  rotten
54429  2000                                                NaN    2/5  rotten
54430  2000                                                NaN  2.5/5  rotten
54431  2000                                                NaN    3/5   fresh

                  critic  top_critic         publisher                date
0             PJ Nabarro           0   Patrick Nabarro   November 10, 2018
1         Annalee Newitz           0           io9.com        May 23, 2018
2           Sean Axmaker           0  Stream on Demand     January 4, 2018
3          Daniel Kasman           0              MUBI   November 16, 2017
4                    NaN           0      Cinema Scope    October 12, 2017
...                  ...         ...               ...                 ...
54427      Laura Sinagra           1     Village Voice  September 24, 2002
54428  Michael Szymanski           0        Zap2it.com  September 21, 2005
54429       Emanuel Levy           0   EmanuelLevy.Com       July 17, 2005
54430   Christopher Null           0    Filmcritic.com   September 7, 2003
54431    Nicolas Lacroix           0      Showbizz.net   November 12, 2002

[54432 rows x 8 columns]

In [10]:
import sqlite3

# # Specify the path to the SQLite database file
# db_file_path = "C:\Users\USER\Documents\Moringa\dsc-phase-1-project-v2-4\zippedData\im.db"
# # Create a connection to the SQLite database
# conn = sqlite3.connect(db_file_path)
# #db_file_path = r"C:\Users\USER\Documents\Moringa\dsc-phase-1-project-v2-4\zippedData\im.db"
# db_file_path = r"C:\Users\USER\Documents\Moringa\dsc-phase-1-project-v2-4\zippedData\im.db"

# # Create a connection to the SQLite database
# conn = sqlite3.connect(db_file_path)

# conn = sqlite3.connect(db_file_path)
# df_IMDB = pd.read_sql("""
# SELECT *
#   FROM movie_basics;

# """,conn)
# print(df_IMDB)

In [11]:
# conn = sqlite3.connect(db_file_path)
# df_IMDB = pd.read_sql("""
# SELECT *
#   FROM movie_basics;

# """,conn)
# print(df_IMDB)

d).Data Preparation -This process involves data manipulation and conversion into a format that is better-suited for modeling.It entails, handling missing values, non-numeric data, and other transformations.

e)Data Cleaning -This process involves identifying and correcting errors ,inconsistencies in the datasets,to ensure that the data is suitable for analysis. It entails the following tasks; 1.Handling Duplicates 2.Handling missing values 3.Handling inacurate data 4.Dealing with outliers.

In [12]:
#Checking for null values
#tmdb movies
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [13]:
df.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [14]:
print(df.columns)

Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [15]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [16]:
#Checking for duplicates
df.shape

(26517, 9)

In [17]:
df.nunique(dropna=False)

genre_ids             2477
id                   25497
original_language       76
original_title       24835
popularity            7425
release_date          3433
title                24688
vote_average            91
vote_count            1693
dtype: int64

In [18]:
df.duplicated(subset='original_title').sum()

1682

In [19]:
df.duplicated(subset='title').sum()

1829

In [20]:
df.drop_duplicates(subset=['original_title','title' ],keep='last')

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
5,"[12, 14, 10751]",32657,en,Percy Jackson & the Olympians: The Lightning T...,26.691,2010-02-11,Percy Jackson & the Olympians: The Lightning T...,6.1,4229
...,...,...,...,...,...,...,...,...,...
26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [21]:
from datetime import datetime

# Define a function to convert the date format
def convert_date(date_str):
    # Convert the date to a datetime object
    date_obj = datetime.strptime(date_str, '%Y-%m-%d')
    # Format the datetime object to the desired format 
    formatted_date = date_obj.strftime('%d %b %Y')
    return formatted_date

df['release_date'] = df['release_date'].apply(lambda x: convert_date(x))

# Print the DataFrame to verify the changes
print(df)

                 genre_ids      id original_language  \
0          [12, 14, 10751]   12444                en
1      [14, 12, 16, 10751]   10191                en
2            [12, 28, 878]   10138                en
3          [16, 35, 10751]     862                en
4            [28, 878, 12]   27205                en
...                    ...     ...               ...
26512             [27, 18]  488143                en
26513             [18, 53]  485975                en
26514         [14, 28, 12]  381231                en
26515      [10751, 12, 28]  366854                en
26516             [53, 27]  309885                en

                                     original_title  popularity release_date  \
0      Harry Potter and the Deathly Hallows: Part 1      33.533  19 Nov 2010
1                          How to Train Your Dragon      28.734  26 Mar 2010
2                                        Iron Man 2      28.515  07 May 2010
3                                         Toy Story      28.005  22 Nov 1995
4                                         Inception      27.920  16 Jul 2010
...                                             ...         ...          ...
26512                         Laboratory Conditions       0.600  13 Oct 2018
26513                               _EXHIBIT_84xxx_       0.600  01 May 2018
26514                                  The Last One       0.600  01 Oct 2018
26515                                  Trailer Made       0.600  22 Jun 2018
26516                                    The Church       0.600  05 Oct 2018

                                              title  vote_average  vote_count
0      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
1                          How to Train Your Dragon           7.7        7610
2                                        Iron Man 2           6.8       12368
3                                         Toy Story           7.9       10174
4                                         Inception           8.3       22186
...                                             ...           ...         ...
26512                         Laboratory Conditions           0.0           1
26513                               _EXHIBIT_84xxx_           0.0           1
26514                                  The Last One           0.0           1
26515                                  Trailer Made           0.0           1
26516                                    The Church           0.0           1

[26517 rows x 9 columns]

In [32]:
from datetime import datetime

# Define a function to convert the date format
def convert_date(date_str):
    # Convert the date to a datetime object
    date_obj = datetime.strptime(date_str, '%d %b %Y')
    # Format the datetime object to the desired format '29 Dec 2023'
    formatted_date = date_obj.strftime('%d %b %Y')
    return formatted_date

# Apply the conversion function to the 'release_date' column
df2['release_date'] = df2['release_date'].apply(lambda x: convert_date(x))

# Print the DataFrame to verify the changes
print(df2)

      id release_date                                        movie  \
0      1  18 Dec 2009                                       Avatar
1      2  20 May 2011  Pirates of the Caribbean: On Stranger Tides
2      3  07 Jun 2019                                 Dark Phoenix
3      4  01 May 2015                      Avengers: Age of Ultron
4      5  15 Dec 2017            Star Wars Ep. VIII: The Last Jedi
...   ..          ...                                          ...
5777  78  31 Dec 2018                                       Red 11
5778  79  02 Apr 1999                                    Following
5779  80  13 Jul 2005                Return to the Land of Wonders
5780  81  29 Sep 2015                         A Plague So Pleasant
5781  82  05 Aug 2005                            My Date With Drew

      production_budget  domestic_gross  worldwide_gross
0           425000000.0     760507625.0     2.776345e+09
1           410600000.0     241063875.0     1.045664e+09
2           350000000.0      42762350.0     1.497624e+08
3           330600000.0     459005868.0     1.403014e+09
4           317000000.0     620181382.0     1.316722e+09
...                 ...             ...              ...
5777             7000.0             0.0     0.000000e+00
5778             6000.0         48482.0     2.404950e+05
5779             5000.0          1338.0     1.338000e+03
5780             1400.0             0.0     0.000000e+00
5781             1100.0        181041.0     1.810410e+05

[5782 rows x 6 columns]

In [22]:
# Remove the $ sign from the movie budget DataFrame(df2) so as to compare and join it with the gross dataframe
df2['production_budget'] = df2['production_budget'].str.replace('$', '').str.replace(',', '').astype(float)
df2['domestic_gross'] = df2['domestic_gross'].str.replace('$', '').str.replace(',', '').astype(float)
df2['worldwide_gross'] = df2['worldwide_gross'].str.replace('$', '').str.replace(',', '').astype(float)

# Display the DataFrame to verify the changes
print(df2.head())

   id  release_date                                        movie  \
0   1  Dec 18, 2009                                       Avatar
1   2  May 20, 2011  Pirates of the Caribbean: On Stranger Tides
2   3   Jun 7, 2019                                 Dark Phoenix
3   4   May 1, 2015                      Avengers: Age of Ultron
4   5  Dec 15, 2017            Star Wars Ep. VIII: The Last Jedi

   production_budget  domestic_gross  worldwide_gross
0        425000000.0     760507625.0     2.776345e+09
1        410600000.0     241063875.0     1.045664e+09
2        350000000.0      42762350.0     1.497624e+08
3        330600000.0     459005868.0     1.403014e+09
4        317000000.0     620181382.0     1.316722e+09

In [23]:
df2.loc['0':,	]

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,425000000.0,760507625.0,2.776345e+09
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09
2,3,"Jun 7, 2019",Dark Phoenix,350000000.0,42762350.0,1.497624e+08
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,7000.0,0.0,0.000000e+00
5778,79,"Apr 2, 1999",Following,6000.0,48482.0,2.404950e+05
5779,80,"Jul 13, 2005",Return to the Land of Wonders,5000.0,1338.0,1.338000e+03
5780,81,"Sep 29, 2015",A Plague So Pleasant,1400.0,0.0,0.000000e+00
5781,82,"Aug 5, 2005",My Date With Drew,1100.0,181041.0,1.810410e+05

In [24]:
# Check if any item in 'title' column of df is found in 'movie' column of df2
matching_titles = df['title'].isin(df2['movie'])

# Check if any matching title is found
if matching_titles.any():
    print("There are matching titles between 'title' column of df and 'movie' column of df2")
else:
    print("No matching titles found between 'title' column of df and 'movie' column of df2")

There are matching titles between 'title' column of df and 'movie' column of df2

In [40]:
merged_DataFrame = pd.merge(df, df2, on='release_date', how='inner')

# Display the merged DataFrame
print(merged_DataFrame)

                 genre_ids    id_x original_language  \
0          [12, 14, 10751]   12444                en
1          [12, 14, 10751]   12444                en
2          [12, 14, 10751]   12444                en
3      [10749, 18, 53, 80]   43539                en
4      [10749, 18, 53, 80]   43539                en
...                    ...     ...               ...
37538                 [18]  411139                en
37539                 [14]  586037                en
37540             [18, 53]  490033                en
37541  [16, 35, 10751, 12]  528644                en
37542             [35, 28]  275599                en

                                     original_title  popularity release_date  \
0      Harry Potter and the Deathly Hallows: Part 1      33.533  19 Nov 2010
1      Harry Potter and the Deathly Hallows: Part 1      33.533  19 Nov 2010
2      Harry Potter and the Deathly Hallows: Part 1      33.533  19 Nov 2010
3                               The Next Three Days      11.147  19 Nov 2010
4                               The Next Three Days      11.147  19 Nov 2010
...                                             ...         ...          ...
37538                                  I'm Not Here       4.871  08 Mar 2019
37539                                  We Are Boats       0.828  08 Mar 2019
37540                                       Holiday       4.813  22 Feb 2019
37541                                         Bilby       2.024  22 Feb 2019
37542                                 Ninja Busters       0.600  09 Nov 1984

                                              title  vote_average  vote_count  \
0      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
1      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
2      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
3                               The Next Three Days           7.0        1469
4                               The Next Three Days           7.0        1469
...                                             ...           ...         ...
37538                                  I'm Not Here           6.0          10
37539                                  We Are Boats           4.5           2
37540                                       Holiday           5.5          25
37541                                         Bilby           5.0           6
37542                                 Ninja Busters           6.5           1

       id_y                                         movie  production_budget  \
0        64  Harry Potter and the Deathly Hallows: Part I        125000000.0
1        49                           The Next Three Days         30000000.0
2        14                              Made in Dagenham          8000000.0
3        64  Harry Potter and the Deathly Hallows: Part I        125000000.0
4        49                           The Next Three Days         30000000.0
...     ...                                           ...                ...
37538    96                                Captain Marvel        175000000.0
37539    96                                Captain Marvel        175000000.0
37540    56    How to Train Your Dragon: The Hidden World        129000000.0
37541    56    How to Train Your Dragon: The Hidden World        129000000.0
37542    17                     A Nightmare on Elm Street          1800000.0

       domestic_gross  worldwide_gross
0         296131568.0     9.604316e+08
1          21148651.0     6.725592e+07
2           1095369.0     1.564420e+07
3         296131568.0     9.604316e+08
4          21148651.0     6.725592e+07
...               ...              ...
37538     426525952.0     1.123062e+09
37539     426525952.0     1.123062e+09
37540     160791800.0     5.192583e+08
37541     160791800.0     5.192583e+08
37542      25504513.0     2.550451e+07

[37543 rows x 14 columns]

In [43]:
merged_DataFrame
merged_DataFrame.rename(columns={'movie': 'movie title'}, inplace=True)

# Print the DataFrame to verify the changes
print(merged_DataFrame)

                 genre_ids    id_x original_language  \
0          [12, 14, 10751]   12444                en
1          [12, 14, 10751]   12444                en
2          [12, 14, 10751]   12444                en
3      [10749, 18, 53, 80]   43539                en
4      [10749, 18, 53, 80]   43539                en
...                    ...     ...               ...
37538                 [18]  411139                en
37539                 [14]  586037                en
37540             [18, 53]  490033                en
37541  [16, 35, 10751, 12]  528644                en
37542             [35, 28]  275599                en

                                     original_title  popularity release_date  \
0      Harry Potter and the Deathly Hallows: Part 1      33.533  19 Nov 2010
1      Harry Potter and the Deathly Hallows: Part 1      33.533  19 Nov 2010
2      Harry Potter and the Deathly Hallows: Part 1      33.533  19 Nov 2010
3                               The Next Three Days      11.147  19 Nov 2010
4                               The Next Three Days      11.147  19 Nov 2010
...                                             ...         ...          ...
37538                                  I'm Not Here       4.871  08 Mar 2019
37539                                  We Are Boats       0.828  08 Mar 2019
37540                                       Holiday       4.813  22 Feb 2019
37541                                         Bilby       2.024  22 Feb 2019
37542                                 Ninja Busters       0.600  09 Nov 1984

                                              title  vote_average  vote_count  \
0      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
1      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
2      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
3                               The Next Three Days           7.0        1469
4                               The Next Three Days           7.0        1469
...                                             ...           ...         ...
37538                                  I'm Not Here           6.0          10
37539                                  We Are Boats           4.5           2
37540                                       Holiday           5.5          25
37541                                         Bilby           5.0           6
37542                                 Ninja Busters           6.5           1

       id_y                                   movie title  production_budget  \
0        64  Harry Potter and the Deathly Hallows: Part I        125000000.0
1        49                           The Next Three Days         30000000.0
2        14                              Made in Dagenham          8000000.0
3        64  Harry Potter and the Deathly Hallows: Part I        125000000.0
4        49                           The Next Three Days         30000000.0
...     ...                                           ...                ...
37538    96                                Captain Marvel        175000000.0
37539    96                                Captain Marvel        175000000.0
37540    56    How to Train Your Dragon: The Hidden World        129000000.0
37541    56    How to Train Your Dragon: The Hidden World        129000000.0
37542    17                     A Nightmare on Elm Street          1800000.0

       domestic_gross  worldwide_gross
0         296131568.0     9.604316e+08
1          21148651.0     6.725592e+07
2           1095369.0     1.564420e+07
3         296131568.0     9.604316e+08
4          21148651.0     6.725592e+07
...               ...              ...
37538     426525952.0     1.123062e+09
37539     426525952.0     1.123062e+09
37540     160791800.0     5.192583e+08
37541     160791800.0     5.192583e+08
37542      25504513.0     2.550451e+07

[37543 rows x 14 columns]

In [47]:
# Create a new column 'same_title' to store the comparison result
merged_DataFrame['same_title'] = merged_DataFrame['movie title'] == merged_DataFrame['title']

# Display the DataFrame with the comparison result
print(merged_DataFrame[['movie title', 'title', 'same_title']])

                                        movie title  \
0      Harry Potter and the Deathly Hallows: Part 1
1                               The Next Three Days
2                                  Made in Dagenham
3      Harry Potter and the Deathly Hallows: Part 1
4                               The Next Three Days
...                                             ...
37538                                Captain Marvel
37539                                Captain Marvel
37540    How to Train Your Dragon: The Hidden World
37541    How to Train Your Dragon: The Hidden World
37542                     A Nightmare on Elm Street

                                              title  same_title
0      Harry Potter and the Deathly Hallows: Part 1        True
1      Harry Potter and the Deathly Hallows: Part 1       False
2      Harry Potter and the Deathly Hallows: Part 1       False
3                               The Next Three Days       False
4                               The Next Three Days        True
...                                             ...         ...
37538                                  I'm Not Here       False
37539                                  We Are Boats       False
37540                                       Holiday       False
37541                                         Bilby       False
37542                                 Ninja Busters       False

[37543 rows x 3 columns]

In [46]:
# Locate the row where the title is 'Harry Potter and the Deathly Hallows: Part I' and update it
merged_DataFrame.loc[merged_DataFrame['movie title'] == 'Harry Potter and the Deathly Hallows: Part I', 'movie title'] = 'Harry Potter and the Deathly Hallows: Part 1'

# Display the DataFrame to verify the changes
print(merged_DataFrame)

                 genre_ids    id_x original_language  \
0          [12, 14, 10751]   12444                en
1          [12, 14, 10751]   12444                en
2          [12, 14, 10751]   12444                en
3      [10749, 18, 53, 80]   43539                en
4      [10749, 18, 53, 80]   43539                en
...                    ...     ...               ...
37538                 [18]  411139                en
37539                 [14]  586037                en
37540             [18, 53]  490033                en
37541  [16, 35, 10751, 12]  528644                en
37542             [35, 28]  275599                en

                                     original_title  popularity release_date  \
0      Harry Potter and the Deathly Hallows: Part 1      33.533  19 Nov 2010
1      Harry Potter and the Deathly Hallows: Part 1      33.533  19 Nov 2010
2      Harry Potter and the Deathly Hallows: Part 1      33.533  19 Nov 2010
3                               The Next Three Days      11.147  19 Nov 2010
4                               The Next Three Days      11.147  19 Nov 2010
...                                             ...         ...          ...
37538                                  I'm Not Here       4.871  08 Mar 2019
37539                                  We Are Boats       0.828  08 Mar 2019
37540                                       Holiday       4.813  22 Feb 2019
37541                                         Bilby       2.024  22 Feb 2019
37542                                 Ninja Busters       0.600  09 Nov 1984

                                              title  vote_average  vote_count  \
0      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
1      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
2      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
3                               The Next Three Days           7.0        1469
4                               The Next Three Days           7.0        1469
...                                             ...           ...         ...
37538                                  I'm Not Here           6.0          10
37539                                  We Are Boats           4.5           2
37540                                       Holiday           5.5          25
37541                                         Bilby           5.0           6
37542                                 Ninja Busters           6.5           1

       id_y                                   movie title  production_budget  \
0        64  Harry Potter and the Deathly Hallows: Part 1        125000000.0
1        49                           The Next Three Days         30000000.0
2        14                              Made in Dagenham          8000000.0
3        64  Harry Potter and the Deathly Hallows: Part 1        125000000.0
4        49                           The Next Three Days         30000000.0
...     ...                                           ...                ...
37538    96                                Captain Marvel        175000000.0
37539    96                                Captain Marvel        175000000.0
37540    56    How to Train Your Dragon: The Hidden World        129000000.0
37541    56    How to Train Your Dragon: The Hidden World        129000000.0
37542    17                     A Nightmare on Elm Street          1800000.0

       domestic_gross  worldwide_gross  same_title
0         296131568.0     9.604316e+08       False
1          21148651.0     6.725592e+07       False
2           1095369.0     1.564420e+07       False
3         296131568.0     9.604316e+08       False
4          21148651.0     6.725592e+07        True
...               ...              ...         ...
37538     426525952.0     1.123062e+09       False
37539     426525952.0     1.123062e+09       False
37540     160791800.0     5.192583e+08       False
37541     160791800.0     5.192583e+08       False
37542      25504513.0     2.550451e+07       False

[37543 rows x 15 columns]

In [49]:
print(merged_DataFrame.columns)

Index(['genre_ids', 'id_x', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count',
       'id_y', 'movie title', 'production_budget', 'domestic_gross',
       'worldwide_gross', 'same_title'],
      dtype='object')

In [53]:
merged_DataFrame = merged_DataFrame[['original_title', 'release_date', 'popularity', 'title', 'vote_average', 'vote_count', 
         'production_budget', 'domestic_gross', 'worldwide_gross']]

# Renaming columns for clarity
merged_DataFrame.columns = ['Original Title', 'Release Date', 'Popularity', 'Title', 'Vote Average', 'Vote Count', 
              'Production Budget', 'Domestic Gross', 'Worldwide Gross']

# Sorting the DataFrame by release date
merged_DataFrame.sort_values(by='Release Date') #inplace=True)

# Resetting the index
merged_DataFrame.reset_index(drop=True) #inplace=True)

# Displaying the formatted DataFrame
print(merged_DataFrame.columns)

Index(['Original Title', 'Release Date', 'Popularity', 'Title', 'Vote Average',
       'Vote Count', 'Production Budget', 'Domestic Gross', 'Worldwide Gross'],
      dtype='object')